<!DOCTYPE html>
<html   ng-app="Dashboard">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RpgWeb</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
<!--    <link href="css/sb-admin.css" rel="stylesheet">-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">        
        
     <link href="lib/angular-loading-bar/loading-bar.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MasterCtrl">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
           <div class="md-toolbar-tools docs-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings"  ng-click="close()">
                  <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_close_24px.svg"></md-icon>
                </md-button>   
                <h2>
                  <span>Menu</span>
                </h2>               
          </div>            
      </md-toolbar>
      <md-content layout-padding>
            <md-list>
              <md-list-item ng-click="go('/index')">
                  Aventuras
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item ng-click="logoff()">
                  Logoff
              </md-list-item>
              <md-divider></md-divider>              
            </md-list>
      </md-content>
    </md-sidenav>    
    <div layout="column">
        <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools docs-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"  ng-click="toggleLeft()">
              <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
            </md-button>
            <h2>
              <span>RpgWeb</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
              <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/design/ic_format_list_numbered_24px.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-content layout-padding md-scroll-y>
    
                <section data-ui-view></section>
        </md-content>        
        
    </div>
    
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
          <div class="md-toolbar-tools docs-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings"  ng-click="close()">
                  <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_close_24px.svg"></md-icon>
                </md-button>   
                <h4>
                  <span>Rolagem de Dados</span>
                </h4>   
                <span flex></span>            
                <md-button class="md-icon-button" aria-label="Settings"  ng-click="rollTheDice()">
                  <md-icon md-svg-icon="bower_components//material-design-icons/image/svg/design/ic_looks_6_24px.svg"></md-icon>
                </md-button>   
          </div>                       
      </md-toolbar>
      <md-content layout-padding>
            <md-list>
                  <md-list-item ng-repeat="notification in notifications">
                      <p> {{notification.sender}}</p>
                        <md-icon md-svg-icon="bower_components/material-design-icons/image/svg/design/ic_looks_{{notification.value}}_24px.svg"></md-icon>
                      <md-divider></md-divider>
                  </md-list-item>            
            </md-list>
      </md-content>
    </md-sidenav>    
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- SCRIPTS -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="lib/ng-file-upload/angular-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
        <script src="lib/ng-file-upload/angular-file-upload.js"></script>       
        <script src="lib/socket-io/socket.io-1.2.1.js"></script>   
        <script src="lib/ng-socket/ngSocket.js"></script>
        <script src="lib/angular-loading-bar/loading-bar.min.js"></script>     

        <script src="js/dashboard.js"></script>

</body>

</html>