<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Rpg Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript">
    $('#loginModal').modal({
      backdrop: 'static'
    });

    $('#rememberModal').modal({
      backdrop: 'static'
    });    
  </script>

  <style>

    /* http://css-tricks.com/perfect-full-page-background-image/ */
    html {
      background: url(img/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    /* Override B3 .panel adding a subtly transparent background */
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-vertical {
      margin: 40px 0;
    }

  </style>

</head>
<body>

  <div class="container">
    <div class="row" ng-controller="FormCtrl">
      <div class="col-md-6 col-md-offset-3 panel panel-default">

        <h1 class="margin-base-vertical">Rpg Manager - Alpha</h1>

        <p>
          Feito para você que narra aventuras usando o sistema 3D&T.
        </p>
        <p>
          Controle a sua aventura a distância.
        </p>

        <p>
          Crie sua aventura com os personagens e mande o código gerado para os participantes.
        </p>

        <form name="form" class="margin-base-vertical" autocomplete="off" novalidate submitted="submitted">
          <p class="input-group">
                  <div class="form-group" >
						<input
						type="text"
						class="form-control"
						id="nick"
						name="nicke"
						placeholder="nick"
						ng-model="user.username"
						ng-model-options="{updateOn: 'blur'}"
            required
						>
                  </div>
                  <div class="form-group">
						<input                
						type="password"
						class="form-control"
						id="password"
						name="password"
						placeholder="Password"
						ng-model="user.password"
            required
						>
                  </div>                  
          </p>
          <p class="help-block text-center">
            <small>
              <a href="" ng-click="launchUserDialog()" >Cadastre-se</a>
              |
              <a href="#" >Esqueceu a senha?</a>
              |
              <a href="" ng-click="launchCharDialog()">Participando de uma aventura?</a>
            </small></p>
          <p class="text-center">
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid" ng-click="submit()">entrar</button>
          </p>
          </span>
        </form>

        <div class="margin-base-vertical">
          <small class="text-muted"></small>
        </div>

      </div><!-- //main content -->
    </div><!-- //row -->
  </div> <!-- //container -->

<script type="text/ng-template" id="user-dialog.html">
        <div class="modal-header">
            <h4 class="modal-title" >Cadastre-se</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" name="userForm" novalidate>

            <!-- Text input-->
            <div class="form-group" ng-class="{error: userForm.nick.$invalid}">
              <label for="exampleInputEmail1">nick</label>
              <input type="text" class="form-control"  placeholder="nick"  name="nick" ng-model="user.username" required>
              <p class="help-block" ng-show="userForm.nick.$error.required">Campo obrigatório</p>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label for="exampleInputEmail1">email</label>
              <input type="email" class="form-control"  placeholder="email" ng-model="user.email" name="email" required>
              <p class="help-block" ng-show="userForm.email.$error.required">Campo obrigatório</p>
              <p class="help-block" ng-show="userForm.email.$error.email">Informe um e-mail valido</p>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label for="exampleInputEmail1">password</label>
              <input type="password" class="form-control" placeholder="password" ng-model="user.password" name="password" required>
              <p class="help-block" ng-show="userForm.password.$error.required">Campo obrigatório</p>
            </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()"  ng-disabled="userForm.$invalid">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>   
</script>

<script type="text/ng-template" id="remember.html">
<div class="modal fade" id="rememberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Informe seu email</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">

        <!-- Text input-->
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="txtEmail" placeholder="email">
        </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancelar</button>
        <button type="button" class="btn btn-primary">enviar</button>
      </div>
    </div>
  </div>
</div>  
</script>

<script type="text/ng-template" id="char.html">

        <div class="modal-header">
            <h4 class="modal-title" >Encontre seu personagem</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" name="form">

          <!-- Text input-->
          <div class="form-group">
            <label for="exampleInputEmail1">código do personagem</label>
            <input type="text" class="form-control" id="txtEmail" placeholder="código do personagem" ng-model="personagem.codigo" required>
          </div>


          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">cancelar</button>
          <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="entrar()">enviar</button>
        </div>
        </div>
 
</script>

<script src="js/angular.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/login-app.js"></script>

</body>
</html>