    <div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-users"></i> Nome
            <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
            <div class="clearfix"></div>
          </div>
          <div class="widget-body no-padding">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr><th>Nome</th><th>Mestre</th><th class="text-center"></th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Ragnarok
                    </td>
                    <td>
                      Joao
                    </td>
                    <td class="text-center">
                       <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-edit "></i></a>
                    </td>
                  </tr>
                  <tr><td>Pokemon</td><td>Jose</td><td></td></tr>
                  <tr><td>SAO</td><td>You</td><td></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-users"></i> Aventuras 
            <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
            <div class="clearfix"></div>
          </div>
          <div class="widget-body medium no-padding">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr><th>Nome</th><th>Mestre</th></tr>
                </thead>
                <tbody>
                  <tr><td>Ragnarok 2</td><td>Joao</td></tr>
                  <tr><td>Pokemon 2</td><td>Jose</td></tr>
                  <tr><td>SAO 2</td><td>You</td></tr>
                </tbody>
              </table> 
            </div>
          </div>
        </div>
      </div>
    </div>