

    <!-- Page Heading -->
     <md-subheader class="md-primary">Aventuras</md-subheader>

    <md-card>
        <md-card-content>
            <section layout="row" layout-align="space-between center">
              <div>
                <md-input-container md-no-float>
                  <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_filter_list_24px.svg"></md-icon>
                  <input ng-model="q" type="text" placeholder="filtrar" id="search">
                </md-input-container>              
               </div>   
              <div>
                 <md-button class="md-icon-button" aria-label="Apagar" ng-click="go('/criar/aventura')">
                    <md-icon md-svg-icon="bower_components/material-design-icons/content/svg/design/ic_add_box_24px.svg"></md-icon>
                  </md-button>         
               </div>                  
            </section>
            <md-list>
              <md-list-item ng-repeat="item in aventuras | filter:{nome: q}" ng-click="go('/editar/aventura/' + item._id)">
                  <p> {{item.nome}} </p>
                    <md-icon class="md-secondary" md-svg-icon="bower_components/material-design-icons/action/svg/design/ic_delete_24px.svg" ng-click="apagar(item, $event)"></md-icon>
                  <md-divider></md-divider>
              </md-list-item>
              
            <md-list>
        </md-card-contet>
    </md-card>

             
    <!-- /.row -->
