<div class="container-fluid">
              <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Cadastro de Aventura
              <small></small>
          </h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <i class="fa fa-users"></i> Informações Gerais
        </div>
        <div class="panel-body">
          <form name="aventuraForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Nome</label>
              <input type="text" class="form-control"  placeholder="Nome" ng-model="aventura.nome" required>
            </div>
            <label for="resumoAventura">Resumo</label>
            <textarea class="form-control" id="resumoAventura" rows="5" ng-model="aventura.resumo"></textarea>
            <div class="text-right clearfix">
              <button type="button" class="btn btn-primary" style="margin-top:1%" ng-disabled="aventuraForm.$invalid" ng-click="salvar()">salvar</button>
            </div>
          </form> 
         </div>          
       </div>
     </div>
  </div> 

  <div class="row" ng-show="permiteAdicionarPersonagem()">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <i class="fa fa-users"></i> Participantes
          <a href="#/personagem" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
            <div class="col-lg-4">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                      <a href="#/personagem">
                        <img class="img-circle" style="max-width: 10%;max-height: 10%;" src="img/avatar.jpg">
                      </a>
                   Nome
                </div>
                <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr><th>Caracteristica</th><th>Pontos</th><th></th></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Força</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Habilidade</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Resistência</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Armadura</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr> 
                            <tr>
                              <td>Poder de Fogo</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Vida</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Magia</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>                                                                                                                                               
                          </tbody>
                        </table>
                      </div>                    
                </div>
              </div>
            </div> 

            <div class="col-lg-4">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                      <a href="#/personagem">
                        <img class="img-circle" style="max-width: 10%;max-height: 10%;" src="img/avatar.jpg">
                      </a>
                   Nome
                </div>
                <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr><th>Caracteristica</th><th>Pontos</th><th></th></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Força</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Habilidade</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Resistência</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Armadura</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr> 
                            <tr>
                              <td>Poder de Fogo</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Vida</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Magia</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>                                                                                                                                               
                          </tbody>
                        </table>
                      </div>                    
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                      <a href="#/personagem">
                        <img class="img-circle" style="max-width: 10%;max-height: 10%;" src="img/avatar.jpg">
                      </a>
                   Nome
                </div>
                <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr><th>Caracteristica</th><th>Pontos</th><th></th></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Força</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Habilidade</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Resistência</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Armadura</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr> 
                            <tr>
                              <td>Poder de Fogo</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Vida</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Magia</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>                                                                                                                                               
                          </tbody>
                        </table>
                      </div>                    
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                      <a href="#/personagem">
                        <img class="img-circle" style="max-width: 10%;max-height: 10%;" src="img/avatar.jpg">
                      </a>
                   Nome
                </div>
                <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr><th>Caracteristica</th><th>Pontos</th><th></th></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Força</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Habilidade</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Resistência</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Armadura</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr> 
                            <tr>
                              <td>Poder de Fogo</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Vida</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Magia</td>
                              <td>5</td>
                              <td>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="fa fa-plus"></i></a>
                                  <a class="btn btn-primary btn-xs" href="#/aventura"><i class="glyphicon glyphicon-minus"></i></a>
                              </td>
                            </tr>                                                                                                                                               
                          </tbody>
                        </table>
                      </div>                    
                </div>
              </div>
            </div>              
        </div>
      </div>
    </div> 
  </div>  
</div>