<div class="container-fluid">
              <!-- Page Heading -->
  <div class="row">
      <div class="col-md-12">
          <h1 class="page-header">
              Cadastro de Aventura
              <small></small>
          </h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <i class="fa fa-users"></i> Informações Gerais
        </div>
        <div class="panel-body">
          <form name="aventuraForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Nome</label>
              <input type="text" class="form-control"  placeholder="Nome" ng-model="aventura.nome" required>
            </div>
            <label for="resumoAventura">Resumo</label>
            <textarea class="form-control" id="resumoAventura" rows="5" ng-model="aventura.resumo"></textarea>
            <div class="text-right clearfix">
              <button type="button" class="btn btn-primary" style="margin-top:1%" ng-disabled="aventuraForm.$invalid" ng-click="salvar()">salvar</button>
            </div>
          </form> 
         </div>          
       </div>
     </div>
  </div> 

  <div class="row" ng-show="permiteAdicionarPersonagem()">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <i class="fa fa-users"></i> Participantes
          <a href="#/personagem" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
            <div class="col-md-4" ng-repeat="personagem in personagens">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                      <a href="#/editar/personagem/{{personagem._id}}">
                        <img  style="max-width:10%;max-height: 10%;" src="{{getImageUrl(personagem) || 'img/avatar.jpg'}}">
                      </a>
                   {{personagem.nome}}
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr><th>Caracteristica</th><th>#</th><th></th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Força</td>
                          <td>{{personagem.forca}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('forca', personagem)">
                                <i class="fa fa-plus"></i>
                              </a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('forca', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>Habilidade</td>
                          <td>{{personagem.habilidade}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('habilidade', personagem)"><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('habilidade', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>Resistência</td>
                          <td>{{personagem.resistencia}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('resistencia', personagem)"><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('resistencia', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>Armadura</td>
                          <td>{{personagem.armadura}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('armadura', personagem)"><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('armadura', personagem)"><i class="glyphicon glyphicon-minus">
                              </i>
                              </a>
                          </td>
                        </tr> 
                        <tr>
                          <td>Poder de Fogo</td>
                          <td>{{personagem.poderDeFogo}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('poderDeFogo', personagem)" ><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('poderDeFogo', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>Vida</td>
                          <td>{{personagem.vida}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('vida', personagem)" ><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('vida', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>Magia</td>
                          <td>{{personagem.magia}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('magia', personagem)" ><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('magia', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>HP</td>
                          <td>{{personagem.hp}}</td>
                          <td>
                              <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('hp', personagem)" ><i class="fa fa-plus"></i></a>
                              <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('hp', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                          </td>
                        </tr>                                                                                                                                                                        
                      </tbody>
                    </table>
                    <progressbar max="100" value="((personagem.hp / personagem.vida) * 100)"  type="success">{{personagem.hp}} / {{personagem.vida}}</progressbar>
                  </div>                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>  
</div>