<div class="container-fluid">
  <md-subheader class="md-primary">Aventura</md-subheader>
              <!-- Page Heading -->
   <form name="aventuraForm">
  <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Informações Gerais">
        <md-content class="md-padding">
          <md-card>
              <md-card-content>
               
                  <md-input-container>
                    <input type="text" class="form-control"  placeholder="Nome" ng-model="aventura.nome" required>
                  </md-input-container>
                  <md-input-container>
                    <label>Resumo</label>
                    <textarea class="form-control" id="resumoAventura" rows="5" ng-model="aventura.resumo"></textarea>
                  </md-input-container>

              </md-card-contet>
  
          </md-card>        
        </md-content>
      </md-tab>
    <md-tab label="Anotações">
      <md-tab-body>
      <md-content class="md-padding">
			          <md-input-container no-flyout>
			            <textarea type="text" class="form-control"  ng-model="aventura.anotacao"></textarea>
			          </md-input-container>	
        </md-content>
       
      </md-tab-body>
    </md-tab>    
  </md-tabs>
                <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" aria-label="Settings" ng-show="permiteAdicionarPersonagem()"  ng-click="go('/personagem')">
                  <md-icon md-svg-icon="bower_components/material-design-icons/social/svg/design/ic_person_add_24px.svg"></md-icon>
                </md-button>                
                <md-button class="md-raised md-primary" ng-disabled="aventuraForm.$invalid" ng-click="salvar()"> salvar</md-button>
              </div>   
</form>   
    
<md-card ng-repeat="personagem in personagens">
      <md-toolbar class="md-theme-light">
          <div class="md-toolbar-tools">
            
                <a href="#/editar/personagem/{{personagem._id}}">
                    <img src="{{getImageUrl(personagem) || 'img/avatar.jpg'}}" class="md-card-image" style="max-width:25%;max-height: 25%;" alt="{{personagem.nome}}">
                </a> 

                <span flex></span>            
          </div>                       
      </md-toolbar> 
 <md-card-content>
                <h4>
                  <span>{{personagem.nome}}</span>
                </h4>    

             			<div class="row" ng-show="personagem._id">
            				<div class="col-xs-1 col-sm-1">
            					<p><b>HP:</b></p> 
            				</div>
            				<div class="col-xs-6 col-sm-7">
            					<progressbar max="100" value="((personagem.hp / personagem.vida) * 100)"  type="success">{{personagem.hp}} / {{personagem.vida}}</progressbar>
            				</div>
                    <div class="col-sm-4">
                       <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('hp', personagem)" ><i class="fa fa-plus"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('hp', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                    </div >                      
                  </div>   
            			<div class="row" ng-show="personagem._id">
            				<div class="col-xs-1 col-sm-1">
            					<p><b>MP:</b></p> 
            				</div>
            				<div class="col-xs-6 col-sm-7">
            					<progressbar max="100" value="((personagem.mp / personagem.magia) * 100)"  type="info">{{personagem.mp}} / {{personagem.magia}}</progressbar>
            				</div>
                    <div class="col-sm-4">
                       <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('mp', personagem)" ><i class="fa fa-plus"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('mp', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                    </div>                    
                  </div>
            			<div class="row" ng-show="personagem._id">
            				<div class="col-xs-1 col-sm-1">
            					<p><b>XP:</b></p> 
            				</div>
            				<div class="col-xs-6 col-sm-7">
            					<progressbar max="10" value="((personagem.xp / 10) * 10)"  type="warning">{{personagem.xp}} / 10</progressbar>
            				</div>
                    <div class="col-sm-4">
                       <a class="btn btn-primary btn-xs" ng-click="aumentaCaracteristica('xp', personagem)" ><i class="fa fa-plus"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="diminuiCaracteristica('xp', personagem)"><i class="glyphicon glyphicon-minus"></i></a>
                    </div>
                  </div>   
 </md-card-content>
</md-card>    

 