    <div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-users"></i> Fichas
            <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
            <div class="clearfix"></div>
          </div>
          <div class="widget-body medium no-padding">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr><th>Personagem</th><th>Aventura</th></tr>
                </thead>
                <tbody>
                  <tr><td>Joe Bloggs</td><td>Super Admin</td></tr>
                  <tr><td>Timothy Hernandez</td><td>Admin</td></tr>
                  <tr><td>Joe Bickham</td><td>User</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
