<form class="form-horizontal" name="personagemForm" ng-submit="salvar()">

	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
		    <div class="col-md-12">
		        <h1 class="page-header">
		            Ficha de Personagem e
		            <small></small>
		        </h1>
<!--				<progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;" type="success">{{dynamic}} / {{max}}</span></progressbar>-->
<!--				<progressbar max="personagem.vida" value="personagem.hp"  type="success">{{personagem.hp}} / {{personagem.vida}}</progressbar>					-->
	<progressbar max="100" value="((personagem.hp / personagem.vida) * 100)"  type="success">{{personagem.hp}} / {{personagem.vida}}</progressbar>
		    </div>
		    <div class="row">
		        <div class="col-md-12">
					<div class="panel panel-primary">
			            <div class="panel-heading clearfix">
			              <i class="fa fa-user"></i>Personagem - ({{personagem.codigo || ''}})
			            </div>
			            <div class="panel-body">
			                <div class="row">
								<div class="col-md-8">
								  <div class="form-group" style="padding-left: 2%;">
								    <label>Nome</label>
								    <input type="text" class="form-control"  placeholder="Nome" ng-model="personagem.nome" ng-disabled="!autenticado" required>
								  </div>
								</div>

								<div class="col-md-2">
								  <div class="form-group" style="padding-left: 2%;">
								    <label for="exampleInputEmail1">Pontos</label>
								    <input type="text" class="form-control"  placeholder="Pontos" ng-model="personagem.pontos" ng-disabled="!autenticado">
								  </div>
								</div>                

							</div>
				        	<div class="row">
								<div class="col-md-12">
									<div class="panel panel-primary">
									  <div class="panel-heading clearfix">
										<i class="fa fa-file"></i> Background
									  </div>
									  <div class="panel-body padding">
										<textarea class="form-control" rows="5" ng-model="personagem.background"></textarea>
									  </div>
									</div>
								</div> 				        		
								<div class="col-md-6">
									<div class="panel panel-primary" >
									  <div class="panel-heading clearfix">
										<i class="fa fa-file-text-o"></i> Características
									  </div>
									  <div class="panel-body " >
										<div class="row">
										  <div class="col-md-12" >
											<div class="form-group" ng-class="{error: personagemForm.forca.$invalid}">
											  <label for="inputEmail3" class="col-sm-5 control-label">Força</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.forca" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Habilidade</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.habilidade" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Resistência</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.resistencia" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Armadura</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.armadura" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Poder de Fogo</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.poderDeFogo" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Vida</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.vida" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Magia</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.magia" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
										  </div>         
										</div>
									  </div>
									</div>
								</div>			        		



								<div class="col-md-6">
									<div class="panel panel-primary">
									  <div class="panel-heading clearfix">
										<i class="fa fa-file-image-o"></i> Imagem
									  </div>
									  <div class="panel-body padding">
										<div class="row">
											<img src="{{ personagem.imageUrl || 'img/avatar.jpg'}}" style="max-width: 50%;max-height: 50%;">
										</div>
										<div class="row">

											<input type="file" name="userPhoto" ng-file-select="onFileSelect($files)" />
      
										</div>
									  </div>
									</div>
								</div>								
			           		 </div>
			           		<div class="row">
								<div class="col-md-4">
									<div class="panel panel-primary">
									  <div class="panel-heading clearfix">
										<i class="fa fa-thumbs-o-up"></i> Vantagens
									  </div>
									  <div class="panel-body">
										<textarea class="form-control" ng-model="personagem.vantagens" rows="10" ng-disabled="!autenticado"></textarea>
									  </div>
									</div>
							    </div>
								<div class="col-md-4">
									<div class="panel panel-primary">
									  <div class="panel-heading clearfix">
										<i class="fa fa-thumbs-o-down"></i> Desvantagens
									  </div>
									  <div class="panel-body padding">
										<textarea class="form-control" rows="10" ng-model="personagem.desvantagens" ng-disabled="!autenticado" ></textarea>
									  </div>
									</div>
							  	</div>  
								<div class="col-md-4">
									<div class="panel panel-primary">
									  <div class="panel-heading clearfix" >
										<i class="fa fa-cogs"></i> Equipamento
									  </div>
									  <div class="panel-body padding">
										<textarea class="form-control" rows="10" ng-model="personagem.equipamento" ng-disabled="!autenticado"></textarea>
									  </div>
									</div>
								</div>           

			           		</div>
				          </div>
						<div class="modal-footer modal-success">
							<button type="button" class="btn btn-danger" style="margin-top:1%" ng-disabled="$scope.personagem._id != null || !autenticado" ng-click="apagar()">
								apagar
							</button>							
							<button type="submit" class="btn btn-primary" style="margin-top:1%" ng-disabled="personagemForm.$invalid" ng-disabled="!autenticado">
								salvar
							</button>
						</div>				          
			        </div>
		        </div>
		    </div>
	    </div>
	</div>
</form>

