<form class="form-horizontal" name="personagemForm" ng-submit="salvar()">

	
			
  <md-card>
      <md-card-content>
	  		<section layout="row" layout-align="spacspace-around" ng-show="personagem.codigo" >
				  <div flex flex-order="1"style="padding:1%;">
			  		<md-subheader ng-show="personagem.codigo" class="md-primary">{{personagem.codigo}}</md-subheader>
				  </div>
				  <div  flex flex-order="2"style="padding:1%;">
					  <b>HP:</b> <progressbar max="100" value="((personagem.hp / personagem.vida) * 100)"  type="success">{{personagem.hp}} / {{personagem.vida}}</progressbar>
				  </div>
				  <div  flex flex-order="3"style="padding:1%;">
					  <b>MP:</b> <progressbar max="100" value="((personagem.mp / personagem.magia) * 100)"  type="info">{{personagem.mp}} / {{personagem.magia}}</progressbar>
				  </div>
				  <div  flex flex-order="4" style="padding:1%;">
					  <b>XP:</b> <progressbar max="10" value="((personagem.xp / 10) * 10)"  type="warning">{{personagem.xp}} / 10</progressbar>
				  </div>				  
			 </section>
			<section  layout="row" >
				<div flex flex-order="1">
			        <h1 class="md-title" ng-show="autenticado">
			          <md-input-container no-flyout>
					  <label>Nome</label>
			            <input type="text" class="form-control"  ng-model="personagem.nome" required>
			          </md-input-container>					
			        </h1>					
				</div>
				<div flex flex-order="2">
			        <h1 class="md-title" ng-show="autenticado">
			          <md-input-container no-flyout>
					  <label>Pontos</label>
			            <input type="text" class="form-control"  ng-model="personagem.pontos" required>
			          </md-input-container>					
			        </h1>					
				</div>
			</section>
			<md-tabs md-dynamic-height	>
			  <md-tab label="Background">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
			            <textarea type="text" class="form-control"  ng-model="personagem.background"></textarea>
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>
			  <md-tab label="Características">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
											<div class="form-group" ng-class="{error: personagemForm.forca.$invalid}">
											  <label for="inputEmail3" class="col-sm-5 control-label">Força</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.forca" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Habilidade</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.habilidade" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Resistência</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.resistencia" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Armadura</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.armadura" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Poder de Fogo</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.poderDeFogo" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Vida</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.vida" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>
											<div class="form-group">
											  <label for="inputEmail3" class="col-sm-5 control-label">Magia</label>
											  <div class="col-sm-2">
												<input type="number" class="form-control" ng-model="personagem.magia" ng-disabled="!autenticado" placeholder="">
											  </div>
											</div>					  
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>
			  <md-tab label="Imagem">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
										<div class="row">
											<img src="{{ personagem.imageUrl || $scope.selectedFile[0] || 'img/avatar.jpg'}}" style="max-width: 40%;max-height: 40%;">
										</div>
										<div class="row">

											<input type="file" name="userPhoto" ng-file-select="onFileSelect($files)" />
      
										</div>
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>		
			  <md-tab label="Vantagens">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
			          <md-input-container no-flyout>
			            <textarea type="text" class="form-control"  ng-model="personagem.vantagens"></textarea>
			          </md-input-container>	
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>				  	  
			  <md-tab label="DesVantagens">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
			          <md-input-container no-flyout>
			            <textarea type="text" class="form-control"  ng-model="personagem.desvantagens"></textarea>
			          </md-input-container>	
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>
			  <md-tab label="Equipamento">
			  	<md-content class="md-padding">
					<md-card>
					 <md-card-content>
			          <md-input-container no-flyout>
			          <md-input-container no-flyout>
			            <textarea type="text" class="form-control"  ng-model="personagem.equipamento"></textarea>
			          </md-input-container>	
			          </md-input-container>	
					 </md-card-content>
					</md-card>				  
				</md-content>
			  </md-tab>				  	
			</md-tabs>
      </md-card-contet>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised md-warn" ng-disabled="$scope.personagem._id != null || !autenticado" ng-click="apagar()"> apagar</md-button>                
        <md-button  class="md-raised md-primary" ng-disabled="personagemForm.$invalid" ng-disabled="!autenticado" ng-click="personagemForm.submit()"> salvar</md-button>
      </div>    
  </md-card>  
  		
	
</form>

